#nom {
    font-family: "Playwrite BE VLG", cursive;
    font-size: medium;
    font-weight: bolder;
}

#metier {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-size: small;
    font-weight: 400;
}

h1 {
    padding: 20px;
    margin-bottom: 25px;
    margin: 0;
    background-image: linear-gradient(to left, #E8DFD1, white); 
}

html, body {
    margin: 0;
    padding: 0;
}

#parentBackground {
    display:  flex;
    flex-direction: row;
}

#enfant1 {
    background-color: #E8DFD1 ;
     flex: 1;
     height: 100vh;
}

#enfant2 {
     background-color: rgb(255, 255, 255);
     flex: 2;
     height: 100vh;
}

#centralCard {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 70vw;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rond {
      width: 30vw; 
      height: 30vw; 
      border-radius: 50%; 
      object-fit: cover; 
      max-height: 200px;
      max-width: 200px;
}
#avatar  {
    display: block;
    margin: 20px auto;
}

#nom1 {
    text-align: center;
    font-family: "Playwrite PT", cursive;
}

#buttons {
    display: flex;
    justify-content: center;
}

#experience {
    margin: 10px;
    border-radius: 25px;
    font-size: medium;
    background-color: darkred;
    color: white;
    border-width: 0;
    padding: 10px 30px;
}

#cv {
    margin: 10px;
    background-color: blue;
    color: white;
    border-radius: 25px;
    font-size: medium;
    border-width: 0;
    padding: 10px 30px;
}

#cv:hover {
    background-color: darkred;
    cursor: pointer;
    font-weight: bold;
}

#experience:hover {
    background-color: blue;
    cursor: pointer;
    font-weight: bold;
}

#presentation {
    text-align: center;
    font-weight: bold;
    font-size: medium;
    margin: 10px 20px;
}

#mail {
    display: block;
    text-align: center;
    margin: 20px 0;
}

#fin {
    text-align: center;
    font-style: italic;
    margin: 20px 10px;
}